<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Linphone" value="https://gitlab.linphone.org/api/v4/projects/411/packages/nuget/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>